<div id="bottom-card">
    <h2>{{data.album.title}} - {{data.album.artist}}</h2>
    <div id="genre-bttn-container">
        <h3>
            {{data.album.year}}  ---
            @for(genre of data.album.genres; track $index) {
                @if($index > 0) {
                    |
                }
                <span> {{genre}} </span>
            }
        </h3>
        <button mat-mini-fab (click)="deleteAlbum(data.album._id) " id="delete-bttn"><mat-icon>delete</mat-icon></button>
    </div>
    <img [src]="data.album.cover_image" class="album-image">
</div>