#scrolling-gallery
    max-width: 90%
    mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent)
    -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent) // for chromium browsers

#scroll-panel
    padding-block: 2rem
    display: flex
    flex-direction: row
    flex-wrap: wrap

#scrolling-gallery[data-animated="true"]
    overflow: hidden

#scrolling-gallery[data-animated="true"] #scroll-panel
    width: max-content
    flex-wrap: nowrap
    animation: scroll 195s linear infinite

@keyframes scroll
    to
        transform: translate(-50%)