#main-album-container 
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 80%

.album-container 
    margin: 1rem
    cursor: pointer

.album-image
    width: 300px
    height: 300px
    box-shadow: 2px 2px 5px black
    &:hover
        box-shadow: 5px 5px 5px black, 2px 2px 5px black

#home-body-container
    display: flex
    justify-content: space-around

#side-nav-container
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 2.5rem
    margin-top: 2rem
    
    
#radio-button-group
    display: flex
    flex-direction: column

#switch-comp-button
    margin-bottom: 7rem
    font-size: larger

#filter-container
    position: -webkit-sticky
    position: sticky
    top: 10%
