<div id="wrapper">
    <div id="about-chase-container">
        <img src="../../assets/chase/chasePic.jpeg" id="me-pic">
        <h1>
            Chase Forlini
        </h1>
        <div id="text-container">
            <p>I'm a previous economist who now works as a fullstack devolper. I have extensive experience in HTML, CSS, and JS. Additionally I have worked with React and Angular as front-end framworks to create SPAs. I've creapted APIs using Express and Node, connecting to relational and non-relational databases such as PostgreSQL or MonogDB. </p>
            <p>In designing the music page, my goal was to create a place to share our users favorite albums. Albums are queried and retrieved from Discogs API, stored in MonogDB, and fetched using Express. Additionally, users are able to filter the albums by genre. They can also click on each album to see a detailed view that includes the genres and release year. The page is styled using material, specifically using the bottom card component and input components. </p>
        </div>
    </div>
</div>