<div>

    <iframe width="420" height="315" src="https://www.youtube.com/embed/0Yv88TTFFUc?autoplay=1"
        frameborder="0"></iframe>
    <h2 class="center">the infamous "MAOW!!</h2>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/gTrq7bIsPwM?autoplay=1"
        frameborder="0"></iframe>
    <h2 class="center"><br><br>A Sneak Peak to my Youtube</h2>
   
</div>
<div>
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1564927921&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
    </iframe>
    <div
        style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
        <a href="https://soundcloud.com/danniethedemon" title="Dan Boy Phannem" target="_blank"
            style="color: #cccccc; text-decoration: none;">Dan Boy Phannem</a>
        · <a href="https://soundcloud.com/danniethedemon/what-did-u-say" title="What Did U Say" target="_blank"
            style="color: #cccccc; text-decoration: none;">What Did U Say</a>
    </div>
    <h2>My favorite song from this Artist</h2>
    <a href="https://www.youtube.com/watch?v=fcZiW9Y1B-8&t=9s" target="_blank">A link to one of the best foods you'll
        ever try!</a>
   
</div>