.example-container {
    position: relative;
    top: 10%;
    width: 150px;
    height: 300px;
    
  }
  
  .example-sidenav-content {
   display: flex;
   height: 100%;
   align-items: flex-start;
   justify-content: flex-start;
  }
  
  .example-sidenav {
    padding: 20px;
  }
 