<h1>Share a Thought!</h1>
<form [formGroup]="thought" (submit)="onSubmit()">
    <label for="message">Message:</label><br>
    <input type="text" placeholder="Any Thoughts?" id="message" formControlName="message"><br>
    <label for="image"></label><br>
    <input type="file" (change)="onFileSelect($event)" id="image" formControlName="image"><br>
    <div>
        @if (imageData) {
            <img [src]="imageData" alt="Selected Image">
        }
    </div> <br>
    <button type="submit">Share Thought</button>
</form>
