
.thought-card 
  max-width: 1000px
  margin-left: auto
  margin-right: auto
  background-color: silver
  

.user
    border: 2px solid purple
    border-radius: 15px
    padding: 5px
    border-style: outset
    background-color: violet
    text-align: left

.reply-user
    border: 2px solid purple
    border-radius: 15px
    padding: 5px
    border-style: outset
    background-color: violet
    text-align: left
  

.thought-form-textarea
    width: 50%


body
    background-color: black
    text-align: center
    bottom-padding: px

.message-date
    text-align: right
    padding-bottom: -100px

.reply-date
    text-align: right

.thought-image
    width:500px
    height: 150px
    border-radius: 15px
 

.delete-reply-btn
    width: 3%
    height: 12%

.reply-section
    background-color: gray
    padding-right: 10px
    padding-left: 10px

.message
    background-color: white
    border-radius: 15px
    width:50%

.flex-box
    display: flex
    justify-content: center
    