
.thought-card 
  max-width: 1000px
  margin-left: auto
  margin-right: auto

.user
    border: 2px solid purple
    border-radius: 15px
    padding: 5px
    border-style: outset
    background-color: violet
  

.thought-form-textarea
    width: 1000px


body
    background-color: grey
    text-align: center
    bottom-padding: px

.message-date
    text-align: right

.thought-image
    width:500px
    height: 150px
    border-radius: 15px