<body>
    <img src="/assets/Hasan/headshot.jpg" alt="Centered Image" height="20px" width="10px">
    <div id="avatar-caption">
        <p style="text-align: center;">
            <em>Hasan Corley, Software GrandMaster</em>
        </p>
    </div>

    <div id="about-me">
        <h1>About Me</h1>
        <p>As a driven and meticulously organized developer specializing in mobile, web, and game development, I am actively seeking a challenging software engineering role to elevate and expand my expertise in computer programming. My passion for video games, skateboarding, and the art of manga fuels my creative spirit and drives me to excel in crafting immersive digital experiences.

            Proficient in an array of programming languages including Java, C++, Swift, Python, and more, I bring a versatile skill set to the table. My dedication to continuous learning and exploration empowers me to adapt swiftly to new technologies and industry trends.
            
            Outside of professional pursuits, I channel my programming prowess into freelance endeavors, leveraging my diverse range of skills to deliver innovative software solutions across various domains. I am excited about the prospect of contributing to cutting-edge projects and honing my craft in a dynamic and collaborative environment.</p>
    </div>

</body>



