<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Valencia</title>
</head>
<body>
    <img src="../../assets/daniel-v/daniel-v-image.png" alt="Daniel Valencia" class="daniel-v-image">

    <p>I am Software Developer at TechOne Software. As a front-end developer, I have great experience in HTML, CSS, JavaScript, and Angular.</p>
    <p>I designed the signup page with simplicity and user-friendliness in mind. Our goal was to create a frictionless registration process, ensuring that users can onboard effortlessly.
        I also built and desgined the Thoughts media page. The media sharing functionality was an exciting challenge. I aimed to develop a dynamic platform where users can express themselves freely.
        Utilizing the MEAN stack's capabilities, I engineered a robust backend infrastructure to handle media storage and retrieval efficiently.
    </p>
</body>
</html>
