<body style="background-image: url('https://github.com/TechOneProjects/Multi-MediaApp/blob/danCssbranch/Multi-MediaApp/src/assets/rivals.jpeg');">
    <h1>A Creative Genius</h1>
    <figure>
        <img src="https://github.com/TechOneProjects/Multi-MediaApp/blob/danCssbranch/Multi-MediaApp/src/assets/avatarPic.JPEG" alt="His True Form" width="1024" height="508">
        <figcaption>Faeng Pyre vs Lennie Irumachi</figcaption>
    </figure>
  
    <app-about-me-videos-about-me-song></app-about-me-videos-about-me-song>
    <div class="AboutMe">
        <h1 style="color: rgb(71, 43, 22);"> About Me</h1>
        <p>
        <h1 style="color: rgb(146, 73, 21);"> An innovative mind always trying to find the fun in things.
            He has become a renowned programmer working on the lastet Triple A titles in the upcoming year.
        </h1>
        <h2 style="color: chocolate;">I Enjoy gaming,
            <a href="https://www.callofduty.com/" target="_blank">CoD</a>
            <a href="https://www.fortnite.com/?lang=en-US" target="_blank">Fornite</a>,
            <a href="https://www.mortalkombat.com/en-us" target="_blank">MK</a>, and some
            <a href="https://www.ubisoft.com/en-us/game/the-crew/motorfest" target="_blank">Motorfest</a>.
            I'm also a Mix Engineer whose worked with many underground Artists.
            I make Beats and Rap under the name
            <a href="https://music.apple.com/us/artist/dan-boy-phannem/1545018314" target="_blank">Dan Boy Phannem</a>
        </h2>
        <h3 style="color: rgb(160, 96, 244);" style="border: black;">I graduated Full Sail Univeristy with a Bachelors
            in Game Development in 2019.
            I've worked on many indie projects both solo and in groups.
            Participated in multiple game jams as an Alumni.
            My Role has usually been the Game Mechanics developer.
            Defining all the legal actions a player can make and handling event reponses.
        </h3>
        
    </div>
</body>

