.title__top3
  text-align: center

.card__wrapper
  display: flex
  justify-content: center

.movie-card
  width: 250px
  margin: 2em
  border: solid 1px #D3D3D3
  border-radius: 10px
  box-shadow: 4px 7px 12px -1px #888888
  float: left

.mat-mdc-card-header
  padding: 0

  img
    width: 250px
    border-radius: 10px 10px 0 0

.mat-mdc-card-title
  font-family: Arial, Helvetica, sans-serif
  font-size: 2rem