.title__top3
  text-align: center

.card__wrapper
  display: flex
  justify-content: center

.movie-card
  width: 250px
  margin: 2em
  float: left

  a
    color: #000

.mat-mdc-card-header
  padding: 0

  img
    width: 250px
    border-radius: 5px 5px 0 0

.mat-mdc-card-title
  color: #000

.database-logo
  width: 50px
  float: right


  