<mat-card class="gallery-card" >
    <mat-card-header>
        <mat-card-title>{{ imageData.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="imageData.imageURL" [alt]="imageData.altText" />
    <mat-divider />
    <mat-card-footer>
        @if (token) {
            <mat-card-actions>
                <button mat-button (click)="openEditForm()">Edit</button>
                <button mat-button (click)="handleDeleteEvent()">Delete</button>
            </mat-card-actions>
        }
    </mat-card-footer>
</mat-card>