<header>
    <h2>
        About Haki
    </h2>
    <summary>
        <h4>Software Engineer | illustrator</h4>
    </summary>
</header>
<img src="../../assets/images/profile/haki-illo.png" alt="An illustrated profile picture of Badi-Haki Martin, contributing engineer" height="500px" />
<section id="introduction">
    <p id="introduction__summary">
        Hello, y'all! My name is Badi-Haki Martin, but please keep it simple and call me 'Haki'. I'm an illustrator, software engineer, and game developer from Atlanta, Georgia. I've been drawing all my life, I've been programming as a hobby since I was young, and as a professional I'm proud to call myself an employee of TechOne.
    </p>
    <p id="introduction__personals">
        I'm a big fan of video games as an art form, anime, manga, comics, card games, model kits, basically all things nerdy. Strangely, I'm also quite fond of fishing and camping. I guess you could say the serenity of nature calls to this ol' city-boy. For fun, you can usually find me developing that 'dream game' that every developer has in the back of their head, and while I haven't done it professionally in quite some time, I'm still a pretty decent illustrator.
    </p>
</section>

<br />

<section id="app-summary">
    <p id="app-summary__overview">
        For my contribution to this Multi-Media app, I made an infinitely-looping image gallery. I wanted to have that curated, museum-tour feel, so it will loop through the images with no interferance. However, the user can, upon logging in, add to the database of images, edit an image, or delete it.
    </p>
    <p id="app-summary__details">
        My part of the app relies on a service I created to manage image data. It will pull the data from the server and load it into the gallery array variable, which the base gallery-page component uses to built it's own array that doubles the original array. 
    </p>
</section>