<div>
    <form [formGroup]="userInfo" (ngSubmit)="onSubmit()">
        <label for="username">Username:</label><br>
        <input type="text" placeholder="Username" id="username" formControlName="username"><br>
        <label for="email">Email:</label><br>
        <input type="email" placeholder="Email" id="email" formControlName="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" placeholder="Password" id="password" formControlName="password"><br>
        <label for="confirm password">Confirm Password:</label><br>
        <input type="password" placeholder="Confirm Password" id="confirm password" formControlName="confirmPassword"><br>
        <button type="submit">Sign Up</button>
    </form>
</div>
