<div class="container">
  <h2>About Us</h2>
  <mat-tab-group>
    <mat-tab label="Janette Campbell">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/Janette.png"
          alt="photo of developer"
        />
        <h3>Janette Campbell</h3>
        <p>Movie Page</p>
        <button>About Me Page</button>
      </a>
    </mat-tab>
    <mat-tab label="Hasan Corely">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/default-avatar-photo-placeholder-profile-icon-vector.jpg"
          alt="photo of developer"
        />
        <h3>Hasan Corely</h3>
        <p>Description of Page</p>
        <button>About Me Page</button>
      </a>
    </mat-tab>
    <mat-tab label="Chase Forlini">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/default-avatar-photo-placeholder-profile-icon-vector.jpg"
          alt="photo of developer"
        />
        <h3>Chase Forlini</h3>
        <p>Description of Page</p>
        <button>About Me Page</button>
      </a>
    </mat-tab>
    <mat-tab label="Haki Martin">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/default-avatar-photo-placeholder-profile-icon-vector.jpg"
          alt="photo of developer"
        />
        <h3>Haki Martin</h3>
        <p>Description of Page</p>
        <button>About Me Page</button>
      </a>
    </mat-tab>
    <mat-tab label="Daniel Sargeant">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/default-avatar-photo-placeholder-profile-icon-vector.jpg"
          alt="photo of developer"
        />
        <h3>Daniel Sargeant</h3>
        <p>Description of Page</p>
        <button>About Me Page</button>
      </a>
    </mat-tab>
    <mat-tab label="Daniel Valencia">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/default-avatar-photo-placeholder-profile-icon-vector.jpg"
          alt="photo of developer"
        />
        <h3>Daniel Valencia</h3>
        <p>Description of Page</p>
        <button>About Me Page</button>
      </a>
    </mat-tab>
  </mat-tab-group>
</div>
