<div class="container">
  <h2>About Us</h2>
  <mat-tab-group>
    <mat-tab label="Janette Campbell">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/Janette.png"
          alt="photo of developer"
        />
        <h3>Janette Campbell</h3>
        <p>Movie Page</p>
      </a>
    </mat-tab>
    <mat-tab label="Hasan Corely">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/default-avatar-photo-placeholder-profile-icon-vector.jpg"
          alt="photo of developer"
        />
        <h3>Hasan Corely</h3>
        <p>Description of Page</p>
      </a>
    </mat-tab>
    <mat-tab label="Chase Forlini">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/default-avatar-photo-placeholder-profile-icon-vector.jpg"
          alt="photo of developer"
        />
        <h3>Chase Forlini</h3>
        <p>Description of Page</p>
      </a>
    </mat-tab>
    <mat-tab label="Haki Martin">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/haki-illo.png"
          alt="photo of Haki"
        />
        <h3>Haki Martin</h3>
        <p>
          Hey, I'm Haki. I have a background in the arts as a sequential artist and illustrator, so I made an image gallery to display images by URL.
        </p>
        <p>
          I made the scrolling image gallery using JavaScript/TypeScript. The gallery loops on itself to give a nice 'infinite scroll' effect. It is meant to be a sort of showcase (like a super light museum tour), but I also gave the option to edit and delete images from the gallery. You can add to the gallery with the form on the bottom. Items are added and deleted from the gallery dynamically with user input.
        </p>
      </a>
    </mat-tab>
    <mat-tab label="Daniel Sargeant">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/default-avatar-photo-placeholder-profile-icon-vector.jpg"
          alt="photo of developer"
        />
        <h3>Daniel Sargeant</h3>
        <p>Description of Page</p>
      </a>
    </mat-tab>
    <mat-tab label="Daniel Valencia">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/default-avatar-photo-placeholder-profile-icon-vector.jpg"
          alt="photo of developer"
        />
        <h3>Daniel Valencia</h3>
        <p>Description of Page</p>
      </a>
    </mat-tab>
  </mat-tab-group>
</div>
