<div class="container">
  <h2>About Us</h2>
  <mat-tab-group>
    <mat-tab label="Janette Campbell">
      <a class="profile-link" href="#">
        <img
          class="image__profile"
          src="../../assets/images/profile/Janette.png"
          alt="photo of developer"
        />
        <h3>Janette Campbell</h3>
        <p>Movie Page</p>
      </a>
    </mat-tab>
    <mat-tab label="Hasan Corely"></mat-tab>
    <mat-tab label="Chase Forlini"></mat-tab>
    <mat-tab label="Haki Martin"></mat-tab>
    <mat-tab label="Daniel Sargeant"></mat-tab>
    <mat-tab label="Daniel Valencia"></mat-tab>
  </mat-tab-group>
</div>
