<div class="body-wrapper">
  <div class="container">
    <img
      class="proifle-pic"
      src="../../assets/janette/image/Self-removebg-preview.png"
      alt=""
    />
    <h2 class="roboto-bold">Janette Campbell</h2>

    <p class="roboto-regular">
      I'm an ex-apparel technical designer and merchandiser who likes to code.
    </p>

    <p class="roboto-regular">
      My introduction to programming was an intro course I took in high school.
      Unfortunately, they only offered an introductory course. I ended up
      following in my mother's footsteps and entered the apparel industry.
    </p>

    <p class="roboto-regular">
      I found myself using the software to do my job more efficiently. For
      instance, I used AS400 macros and formulas to make reports more automated.
    </p>

    <p class="roboto-regular">
      I designed the movie page to show what the top three movies were for the day.
      I also displayed the whole movie database below that. 
    </p>

    <p class="roboto-regular">
      My thought process was
      to pique the interest of the user by showing them what was trending in movies.
      Then allowing them to add their own movies to the database.
    </p>
  </div>
</div>
